html, body {
    margin:0;
  padding:0;
  height:100vh;
  justify-content:center;                          
  align-items:center;
 box-sizing: border-box;

}
.main{
    height: 100%;
    width: 100%;
    position: relative ;
    background-image: url(../img/precondo-ca-GuXhiz45lq8-unsplash.jpg);
 background-position:center;
 background-size: cover;

}
.upbar{
    /* background-image: linear-gradient(to right, #AE8625, #F7EF8A, #D2AC47, #EDC967); */
    background-color: transparent;
    height: 70px;
    width: 100%;
    display:flex ;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
    
}


.upbar div{
    display: flex;
    
}
.upbar div h1{
   
    font-size:5vh;
    font-weight: 700;
}
.upbar ul li{
    display: inline-block;
    margin: 10px 30px;
    
}
.upbar ul li a{
    text-decoration: none;
    font-size: 4vh;
    font-weight: 600;
    color: black;
}

.upbar ul li a:hover{
    color: #AE8625;
}
#Cost {
    color:#AE8625;
}
.upbar .logo{
    height: 15vh;
    width:15vh;
   
}

.cont{
    display: flex;
    flex-wrap: wrap;
}
.left{
 width: calc(25% - 10rem);  
 padding: 5rem;
}
.MainContent{
  padding-top: 5rem;
  width: calc(75% - 5rem);  
}
.rupee{
    display: flex;
   justify-content: space-around;
}
.MainContent .des{
    font-weight: 700;
    font-size: 1.2rem;
}
.MainContent h1{
    font-size: 2rem;
}
.rupee{
    font-size: 1.2rem;
    font-weight: 600;
}
.history{
    margin:0 5rem 0 5rem;
}
